<!DOCTYPE html>
{% block sidebar %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
        .card{
            box-shadow: 0 16px 48px #999999;
        }

</style>
</head>
<body>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> Aafrin Arifa's journey as a movie critic began with a love for film and a desire to share their perspectives with the world. I've honed my craft, developing a unique voice that resonates with audiences and industry professionals alike.
</p>
    </div>
</div>
</div>

{% endblock sidebar %}


</body>
</html>